//global Variables
// $variable : value ;

// Parent -> child
$heading_size: 50px; //global scope

.container {
    $heading-size: 30px !global; //local scope
    color: red;
    // font-size: 50px;

    .div {


        .heading {
            color: chartreuse;
            font-size: $heading_size;
        }
    }
}



.heading {
    font-size: $heading_size;
    color: aqua;
}